<% provide(:title, "Our Dogs")%>
<% provide(:subtitle, "A group of pugs is often referred to as a 'Grumble'. Here's our Grumble") %>

<%=render 'layouts/jumbotron' %>
 
<div class="row devborder">
	<%= render 'layouts/header' %>
</div>