<% provide(:title, "Pug Information")%>
<% provide(:subtitle, "Information for the future pug-vangalist") %>
<% provide(:subsubtitle, "Champion-lined and Companion Pet Pug breeder") %>


<%=render 'layouts/jumbotron' %>
<div class="row">

	<div class="sidenav col-sm-2 ">
	  <%= render 'layouts/header' %>
	</div>
	<div class="container">
	  <div class="col-lg-10  content">
		<p>Pugs can have a few health issues,though not as many as you'd be lead to believe. Most common problem area's are:</p>

		<ul>
			<li>Eyes</li>

			<li>Respiratory</li>

			<li>Face/skin</li>

			<li>Heat/Cold</li>
		</ul>

		<p>The eyes are probably the biggest concern. Due to their size, using a leash attached to a collar can cause lots of strain, so it's recommended to use a harness while walking.</p>

		<p>That flat face comes at a cost, making breathing more difficult. They get enough air, they aren't suffocating, but it does make for a lot of snoring, snorting, coughing, weezing, panting, and other crazy noises. It can also be the reason for their relaxed lifestyle, since its hard to run when you can't get enough air. Dust and dirt can irrate this, making it difficult to breath. </p>

		<p>As mentioned in the Grooming section, keep those wrinkles clean and you'll have a happy pug. The skin on the face is very sensitive, so using a moist wipe is the best way to keep them clean. They have sensitive skin, so using a mild puppy shampoo is recommened.</p>
		
		<p>And finally, the heat can be fatal for this dog. Because of the short snout and thick double coat, pugs can't get rid of excess heat efficiently, meaning it doesn't have to be baking hot outside to make them uncomfortable. If it's above 80, limit outdoor time to about 15 minutes. Of course, you can take them swimming to help cool them off.</p>

		<p>Before you consider getting a pug, ask yourself what you expect from having this kind of dog. Here are a few Characteristics of Pugs:</p>

		<ul>

			<li>Extremely cute</li>

			<li>Dosile</li>

			<li>Because of the short nose, they are limited in long runs and even walks in the hot weather
			sensitive to cold and hot temperature </li>

			<li>They like your attention most of the time and they will do sometimes very strange and funny looking things to get your attention. Some say pugs are little clowns, they show off to make you laugh and love them even more.</li>

			<li>They snore when they sleep, and its surprisingly loud for their size. </li>

			<li>They will try to hypnotize you with their big and sad eyes, so that you give them more food, but don't give in to them! Pugs become overweight very easily due to their lazy lifestyle. </li>
			
			<li>They shed a lot, despite having only short fur</li>

			<li>A pug puppy is a live wire, and will often go 'turbo' for little to no reason. They need about 2 years to grow up and even then, it still needs around 3 more years until they become somewhat sedate.</li>

			<li>This breed is very good with children</li>

			<li> Can be a bit trickier to train, and are often lazy and stubborn, though don't mistake that for dullness, Pugs are deceptively smart.</li>
			
			<li>These little guys will follow you about your house, as if they are your shadow. They live to lay on your lap, or just be around you.</li>
			
			<li>They come in fawn or black</li>
		</ul>						
	  </div>
	</div>
</div>