/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

.jumbotron-billboard .img {
	opacity: .50;
    margin-bottom: 0px;
    color: #fff;
    background: #000 url("/assets/floorpug.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.jumbotron h2 {
	margin-right: 250px;
	margin-top:0;
	padding-bottom: 150px;
}

.jumbotron h3{
	font-family: 'Montserrat', sans-serif;
	margin-right: 0px;
	margin-top:0;
	padding-bottom: 0px;
} 

.jumbotron {
	position:relative;
	padding-top:150px;
	padding-bottom:150px;

}

.jumbotron .container-fluid {
	position:relative;
	z-index:2;
}
@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }

  .sidenav{
	margin-left:0;
  }
}

#c-fluid{
	/*sage*/

	background-color:#E9E6E2;
}

.sidenav{
	
}

.nav-item{
	/*Sage green*/
	background-color: #91a582;
	margin-top: 10px;
	padding: 20px;
	font-size: 1.2em;
}

.devborder{
	border: 1px solid black;
}

.content{
	margin: 20px;
	font-size: 1.2em;
	line-height: 2;
	border: 1px red;
	background-color: #C1C2AD;
	
}

p{
	padding: 10px;
}

.card{
	margin:1%;
}


footer{
	/*Sage green*/
	background-color: #91a582;
	margin-top: 200px;

}

