<footer>
    <p class="text-center"> Mountainside Pugs |	Phone: (540) 858-2780 | mountainsidepugs@yahoo.com</p>
    
    <p class="text-center">&copy; <img width="40" height="40" src="/pixelpugicon.ico"> Pugdog Webdesign 2017</p>
</footer>